/* geral */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: poppins, sans-serif;
}

/* setores */

.section-container{
    height: 691px;
    display: flex;
    align-items: center;
}

.section-container-left{
    justify-content: start;
}

.section-container-right{
    justify-content: end;
}

.section-1{
    background-size: contain;
    background-repeat:no-repeat;
    background-image: url("../Assets/home_imgs/home_top_site_img.jpg");
}

.section-2{
    background-color: #F8C2A4;
}

.section-3{
    background-size: contain;
    background-repeat:no-repeat;
    background-image: url("../Assets/home_imgs/home_botton_site_img.jpg");
}




