/* geral */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: poppins, sans-serif;
}

body{
    background-color: #FFF0E9;
}

.img-icon{
    width:16px;
    height:16px;
    
}

/* header */

.logo a{
    font-size: 2rem;
    font-weight: bold;
    text-decoration: none;
    color: white;
}

header nav{
    height: 80px;
    display: flex;
    justify-content: space-between;
    background-color: #3C5671;
    align-items: center;
}

.menu-top{
    font-weight: 600;
}

/* footer */

.copyright-sign{
    background-color: #3C5671;
}

.social-media-section{
    background-color: #6690ae;
}

/* botões */

.btn-my-color-1{
    background-color: #F8C2A4;
    font-weight: 700;
    color:#3C5671;
}

.btn-my-color-2{
    background-color: #3C5671;
    font-weight: 700;
    color:white;
}

/* espaçamento */

.mx-50{
    margin:0 50px;
}

/* cta */

.cta{
    padding:200px 50px;
    width:500px;
}

.cta-title{
    font-weight: 700;
}

.mx-50{
    margin:0 50px;
}

/* conteudo */

.content-title{
    /* display:flex; */
    color:black;
}

.video-size{
    width:700;
    height:393;
}